// Hide browser default password reveal (eye) button in all major browsers
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none;
}
input[type="password"]::-webkit-credentials-auto-fill-button,
input[type="password"]::-webkit-input-decoration,
input[type="password"]::-webkit-input-clear-button,
input[type="password"]::-webkit-input-password-toggle-button {
  display: none !important;
}
input[type="password"]::-webkit-textfield-decoration-container {
  display: none !important;
}
input[type="password"]::-webkit-input-placeholder {
  color: inherit;
}
input[type="password"]::-webkit-input-suffix {
  display: none !important;
}
