
// // Row gap utility classes
// .rg-10 { row-gap: 10px; }
// .rg-20 { row-gap: 20px; }
// .rg-30 { row-gap: 30px; }
// .rg-40 { row-gap: 40px; }
// .rg-50 { row-gap: 50px; }



// // Column gap utility classes
// .cg-10 { column-gap: 10px; }
// .cg-20 { column-gap: 20px; }
// .cg-30 { column-gap: 30px; }
// .cg-40 { column-gap: 40px; }
// .cg-50 { column-gap: 50px; }

// // Utility: margin-right 2em, flex center, height 100%
// .mrx-2em-center {
//   margin-right: 2em;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   height: 70vh;
// }
